*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    
}
body{
    background: #343a0f;
}
.app{
    max-width: 600px;
    margin: 100px auto 10px;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    color: black;
    
}
.app h1{
    font-size: 30px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #202124;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 22px;
    color:#001e4d ;
    font-weight: 600;
}
.btn{
    background: #fff;
    color: #222;
    width: 100%;
    border: 1px solid #222;
    padding: 10px ;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background: #222;
    color:#fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next{
    background: #001e4d;
    color: #fff;
    font-weight: 400;
    border: 0;
    width: 150px;
    margin:10px auto 0;
    padding:10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.correct{
    background: #1dcd17;
}
.incorrect{
    background: #f82d2d;
}